egucepayment-restapi/src/main/resources/xsd/quittance_nok.xsd

<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Type ur fucking name ! (Type ur Company -.-) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LISTE_DES_ERREURS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MESSAGE" type="xs:string"/>
				<xs:element name="DONNEE" type="xs:string" minOccurs="0"/>
				<xs:element name="BLOC" type="xs:string" minOccurs="0"/>
				<xs:element name="NIVEAU" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
